# Python
__pycache__/
*.py[cod]
*.env
venv/
.env
*.egg-info/
dist/
build/

# Node / React
node_modules/
dist/
.DS_Store
*.local

# VSCode
.vscode/

# Environment Variables
.env
.env.local
.env.development
.env.production

# Database
*.sqlite3
*.db

# Logs
*.log
npm-debug.log*